:root {
	--theme: 200;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	text-align: center;
	background-color: hsl(var(--theme), 6%, 16%);
	color: hsl(var(--theme), 6%, 85%);
	text-shadow:
		.5px .5px, .5px hsl(var(--theme), 6%, 0%),
		0 0 25px hsl(var(--theme), 6%, 0%),
		0 0 5px hsl(var(--theme), 6%, 0%);
	font-size: 1.25em;
}

h1 {
	font-size: 2rem;
	margin: 1em 0;
	transition: ease-in-out 0.25s;
}

div,
nav {
	padding: .5rem 1rem;
}

#jsOut {
	font-weight: bold;
	font-size: 1.5rem;
	margin-top: 1rem;
	width: fit-content;
}

div {
	margin: auto;
	margin-bottom: 1rem;
}

main {
	width: fit-content;
	margin: 0 auto;
	padding: 0 15px;
}

a {
	color: #fff;
}

.buttons {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	justify-content: center;
	align-items: center;
}

.button {
	margin: .5rem;
	padding: 1.5rem;
	font-size: 1.25rem;
	border-radius: .25rem;
	box-shadow: 0 0 .25rem rgba(0, 0, 0, .25);
	transition: all .2s;
	color: rgb(226, 226, 226);
	background-color: hsl(var(--theme), 20%, 20%);
}


.big-button {
	grid-column: 1 / -1;
}

.button>a {
	text-decoration: none;
}

.button:hover {
	background-color: hsl(var(--theme), 90%, 38%);
	box-shadow: 0 0 .5rem rgba(0, 0, 0, .5);
	transform: translateY(-.25rem);
}

form {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	justify-content: center;
	align-items: center;
}

form label {
	grid-column: 1 / -1;
}

select {
	margin: .5rem;
	padding: 1.5rem;
	font-size: 1.25rem;
	border-radius: .25rem;
	border: none;
	box-shadow: 0 0 .25rem rgba(0, 0, 0, .25);
	transition: all .2s;
	color: rgb(226, 226, 226);
	background-color: hsl(var(--theme), 20%, 20%);
	appearance: none;
}

form input[type="submit"] {
	border: none;
}


footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	background-color: hsl(var(--theme), 25%, 16%);
	margin-top: 2rem;
	font-size: .8rem;
}